<h1>Listing geo_messages</h1>

<table>
  <thead>
    <tr>
      <th>Fromuserid</th>
      <th>Touserid</th>
      <th>Message</th>
      <th>Msgtime</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @geo_messages.each do |geo_message| %>
      <tr>
        <td><%= geo_message.fromUserId %></td>
        <td><%= geo_message.toUserId %></td>
        <td><%= geo_message.message %></td>
        <td><%= geo_message.msgTime %></td>
        <td><%= link_to 'Show', geo_message %></td>
        <td><%= link_to 'Edit', edit_geo_message_path(geo_message) %></td>
        <td><%= link_to 'Destroy', geo_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geo message', new_geo_message_path %>
