<p id="notice"><%= notice %></p>

<p>
  <strong>Fromuserid:</strong>
  <%= @geo_message.fromUserId %>
</p>

<p>
  <strong>Touserid:</strong>
  <%= @geo_message.toUserId %>
</p>

<p>
  <strong>Message:</strong>
  <%= @geo_message.message %>
</p>

<p>
  <strong>Msgtime:</strong>
  <%= @geo_message.msgTime %>
</p>

<%= link_to 'Edit', edit_geo_message_path(@geo_message) %> |
<%= link_to 'Back', geo_messages_path %>
